<!-- <h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p> -->

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
			<h1>Welcome to SLU-BOG!</h1>

			<p>The <strong>South Lake Union Biodome Observation Group</strong>, or <strong>SLU-BOG</strong> for short, would like your help in cataloging the creatures in our area. Simply look through our list and see if there's any creatures you can add. We need a name and a short description. Thanks!</p>

			<a href="/creatures"><button class="btn btn-primary">View List</button></a>
			
		</div>
	</div>
</div>